{% extends "base.html" %}

{% block content %}

<div class="formatted">
<h1>About</h1>

<h3>Contributors</h3>

<link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />

<table>
	<!--This next row is our likedin profile picture with the 
	linked account, except for Ross, who doesn't have a linkedin...-->
	<tr>
		<td class="pad"><a href="https://www.linkedin.com/in/connor-foley-6b18118a" target="_blank"><img class="pics" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/03e/03b/0e7ae5a.jpg"></a></td>
	</tr>	
		<td>Connor Foley</td>
	</tr>
</table>

<h4>About the Website</h4>

<body>
	<p>This website exists as a outlet for me to write on various aspects of sports and pop culture that interest me. As a Junior at the University of Michigan, this entails all things Michigan, Detroit Sports, Running, Rock, and Rap. Hope you enjoy the content, and come back for more!
	</p>
</body>
</div>

{% endblock %}
